<div class="sidebar-offcanvas pl-0 m-1 d-none d-lg-block" id="sidebar">
	<ul class="nav nav-stacked" id="menu">
		<li class="nav-item w-100"><a class="nav-link" href="#"><i
				class="fa fa-list-alt"></i> <span class="collapse in hidden-xs-down">Link
					1</span></a></li>
		<li class="nav-item w-100"><a class="nav-link" href="#"><i
				class="fa fa-list"></i> <span class="collapse in hidden-xs-down">Link
					2</span></a></li>
		<li class="nav-item w-100"><a class="nav-link" href="#"><i
				class="fa fa-paperclip"></i> <span
				class="collapse in hidden-xs-down">Saved</span></a></li>
		<li class="nav-item w-100"><a class="nav-link" href="#"><i
				class="fa fa-refresh"></i> <span class="collapse in hidden-xs-down">Refresh</span></a></li>
	</ul>
</div>